.CardItem{
    display: flex !important; 
    .ant-card-body{
        @include Flex;
        padding: 15px;

    }
    .Card_Counter{
        width: 30px;
        @include Flex;
        flex-direction: column;
    .Counter{
        width: 22px;
    }

    .anticon-plus-circle svg{
        color:var(--primary);
       }
       
       /* Path */
       .anticon-plus-circle svg path{
        color:var(--primary);
       }
       
       /* Ant icon */
        .ant-btn-circle .ant-btn-icon{
        color:var(--primary);
       }
    }
    
    .Card_Img{
        img{
            width: 70px;
            transform: translateX(-6px);
        }
    }
    .Card_Info{
        h5{
            font-size: 14px;
            text-wrap: nowrap;
        }
        h6{
            font-style: 10px;

        }
        strong{
            font-size:14px;
            color: var(--secondary);
        }
    }
    .Card_Delete{
        margin-left: 30px;
        @include Flex;
        

    }

}


.ViewCart_Button{
   margin-top: auto;
    button{
        background-color: var(--secondary) !important;
        color: var(--bg) !important;
        font-weight: bold !important;
    }
}
/* Ant drawer wrapper body */



.ant-drawer-body{
    >div{
        height: 100%;
    }
}