.ant-drawer-body{
    overflow-x: hidden !important;           
}
.BottomBar{
    padding-bottom: 15px;
    display: flex; justify-content: space-between; align-items: center;
    padding-inline: 5vw;
    gap: 5%;
    border-bottom: 1px solid var(--bg2);
 .ViewCart{
    display: none;
   
   }

}
.DropdownMenu{
    width: 100%;
    flex: 15%;
    background-color: var(--bg2) !important;
    color: var(--text);
    padding: 8px 20px;
    display: flex; justify-content: space-between; align-items: center;
    .MenuItems{
        width: 100%;
    }
     
}
.NavMenus{
    padding-left: 20vw;
    flex: 70%;
    display: flex; justify-content: flex-end; align-items: center;
    gap: 5%;
}

.ant-dropdown-menu{
    background-color:var(--bg2) !important;
    color:var(--primary) !important;
   }
   
   /* Ant Unknowndown menu submenu title */
    .ant-dropdown-menu-submenu-title{
    color:var(--primary) !important;
   }
   
   /* Span Tag */
    .ant-dropdown-menu-submenu-expand-icon span{
    color:var(--primary) !important;
   }
   div .ant-dropdown-placement-bottomLeft ul{
    margin-top:10px !important;
   }
   
   
   /* Ant Unknowndown menu submenu title */
.ant-dropdown-placement-bottomLeft .ant-dropdown-menu .ant-dropdown-menu-submenu-title{
    padding-bottom:12px;
   }
   
   
   div .ant-dropdown-menu-submenu-placement-rightTop ul{
    margin-left:11px;
    min-width: 120px;
   }
   
  