.MenuBody{
    width: 250px;
}
.Home_Page_Body{
    background: var(--bg2);

}

.HeroSection{
    display: flex; 
    padding: 0vw 4vw;
    width: 100% ;
    height: 34vw;
    gap: 6%;
    color: var(--black);
    .HeroSection_Carousel{
        width: 70%;
        height: 100%;
            img{
                margin-top: 5px;
            margin-inline: 20px;
                width: 100%;
                height: 33vw;

                object-fit: contain;
            }
    }       
.HeroSection_Ads{
    transform: translateX(-20%);
    width: 30%;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4%;

        img{
            height: 16vw;
            width: 100%;
            object-fit: contain;
        }
}
 .ant-carousel .slick-initialized .slick-dots-bottom li button{
    background-color:var(--black) !important;
   }
}
.Ad_Container{
    position: relative;
    .Ad_Info{
        position: absolute;
        top: 20%;
        left: 10%;
        color: var(--black);
        h4{
            font-size:2vw;
        }
        h5{
            font-size: 1.2vw;
            font-weight: bold;
        }
        strong{
            color: var(--secondary);
            font-size:1vw;

        }
        a{
            font-size:1vw;

        }  
      }
}
.banner_Container{
    position: relative;
    .banner_Info{
        position: absolute;
        top: 20%;
        left: 10%;
        color: var(--black);
        h1{
            font-size: 4vw;
        }
        h2{
            font-size: 2.5vw;
            font-weight: bold;
        }
        strong{
            color: var(--secondary);
        }
        a{
            font-size: 2vw;
        }
    }
}
.special_properties{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vw auto;
    @include Shadow;
    padding:  1vw 2vw;

    background: var(--bg);
  
    svg{
        font-size: 2.4vw;
        margin-top: 5px;
    }
    .special_property{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        border-right: 1px solid #DAE1E7;
        padding: 0vw 4vw;
        margin-top: 5px;

 &:last-child {
      border-right: none !important; // You may try without !important first
    }
    }
    
    .Towspecial_property{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    h5{
        font-size: 1.4vw;
        text-wrap: nowrap;
        margin-bottom: 0;
    }
    p{
        font-size: 1vw;
                text-wrap: nowrap;

    }
   
    .special_property_last{
        border-right: none;

    }
}

.Moves_Ads{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vw auto;
    @include Shadow;
    padding:  0vw 2vw;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    .Moves_Ads_Left{
              width: 35vw;
        height: 70px;
        background: var(--secondary);
        display: flex; justify-content: center; align-items: center;
        transform: skewX(-35deg);
        z-index: 5;
        position:relative;
        left:-7vw;
        font-weight: bold;
        color: var(--bg);
        font-size: 2.2vw;
        padding-left: 4vw;

     

}
.Moves_Ads_Right{
   
    text-align: right;
    width: 60%;
    &::before {
        font-size: 2vw;
        inset: 5px;
        z-index: 3;
        content: '';
        position: absolute;
        border: 1px dashed #fff;
      
}

  
}

}


.Moves_Ads_Right_Text {
    background-color: var(--bg);
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    overflow: hidden;
    position: relative;
    &::before {
        content: attr(data-text); 
        position: absolute;
        top: -15%;
      white-space: nowrap;
      animation: moveText 15s linear infinite;
      color: var(--bg);
      font-weight: bold;
      font-size: 2vw;
    }
  
    @keyframes moveText {
      from {
        right: 100%;
      }
      to {
        right: 900%; /* Move off-screen to the left */
      }
    }
  }
  
  .SubTitle{
    width: 90%;
    margin: 1vw 2vw ;
    padding:  1vw 2vw 0vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    font-size: 16px;
    svg{
        color: var(--secondary);
        font-size: 20px;
        margin-inline: 5px;
    }
  }
  .swiper-free-mode > .swiper-wrapper{
    margin: 20px 0px !important;
  }

  .BigAds{
    display: flex;
    padding: 10px 5vw;
    width: 100%;
    gap: 20px;
    >div{
        flex: 50%;
        height: 150px;
        position: relative;
        img{
            width: 100%;
                    height: 150px;
            object-fit: cover;
        }
      
    }
      .BigAds_Info{
        padding: 20px;
            position: absolute;
            top: 0;
            color: var(--text);

            >div{
                display: flex; gap: 5px;
                strong{
                    color: var(--secondary);
                    font-size: 1.4vw;
                }
            }
        } 
       
  }
   .darkMood .BigAds_Info{
            color: var(--bg) !important;
        }
        .Footer{
            font-size: 1.4vw;
        }